Repository muchnameless/lunar-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

.lintstagedrc:

{
	"*.{js,ts}": "eslint --cache --fix",
	"*": "prettier --cache --ignore-unknown --write",
	"package.json": "sort-package-json"
}

fix: mojang api
  src/lib/chatBridge/constants/commandResponses.ts
  src/lib/structures/MojangClient.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint
  src/lib/structures/MojangClient.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: api v2 fixed typo
  .typos.toml
  package.json
  src/lib/networth/constants/inventories.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

refactor: autocorrect
  src/lib/functions/util.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: setup.d
  src/index.ts
  src/lib/functions/util.ts
  src/lib/setup.d/01_globalDispatcher.ts
  src/lib/setup.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: setup.d p2
  src/jobs/pricesAndPatchNotes.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: yarn
  .yarnrc.yml
Due: prettier --cache --ignore-unknown --write

chore: git hooks
  .github/actions/yarn-install/action.yml
  .github/hooks/commit-msg
  .github/hooks/pre-commit
  .yarn/plugins/@yarnpkg/plugin-git-hooks.cjs
  .yarnrc.yml
  package.json
  src/lib/setup.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

fix: lint
  src/lib/setup.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: cleanup
  README.md
Due: prettier --cache --ignore-unknown --write

feat: networth
  src/lib/networth/constants/modifiers.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: networth
  src/lib/networth/constants/itemCategory.ts
  src/lib/networth/constants/recombs.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: patch
  .yarn/patches/@discordjs-rest-npm-2.3.0-dev.1706918963-b16647e6c-faf03bb408.patch
  .yarn/patches/discord.js-npm-14.15.0-dev.1706918966-b16647e6c-b851db995d.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

refactor: ts
  src/commands/staff/unnick.ts
  src/events/REST/rateLimited.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: patch
  .yarn/patches/discord.js-npm-14.15.0-dev.1707264543-597340f28-88afe15343.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: patch
  .yarn/patches/discord.js-npm-14.15.0-dev.1707264543-597340f28-88afe15343.patch
  yarn.lock
Due: prettier --cache --ignore-unknown --write

feat: enforced nonces
  src/commands/guild/guild.ts
  src/lib/chatBridge/managers/DiscordChatManager.ts
  src/lib/functions/discord.ts
  src/lib/functions/index.ts
  src/lib/structures/ImgurClient.ts
  src/lib/structures/LogHandler.ts
  src/lib/structures/database/managers/DatabaseManager.ts
  src/lib/util/ChannelUtil.ts
  src/lib/util/MessageUtil.ts
  src/lib/util/UserUtil.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint
  src/lib/functions/discord.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: patch
  .yarn/patches/discord.js-npm-14.15.0-dev.1709554107-a1010c61f-1972321b65.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

types: readonly
  src/lib/util/EmbedUtil.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): nolyfill
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore(deps): patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore(deps): remove @types/prettier
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

refactor: rest
  src/commands/owner/config.ts
  src/lib/structures/commands/commonOptions.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: blocked expressions
  src/lib/chatBridge/constants/blockedExpressions.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: import assertions
  src/lib/chatBridge/constants/index.ts
  src/lib/constants/weight.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  .yarn/patches/discord.js-npm-14.15.3-dev.1715861068-92c1a511d-a7be948999.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/discord.js-npm-14.15.3-dev.1715861068-92c1a511d-a7be948999.patch
  yarn.lock
Due: prettier --cache --ignore-unknown --write

feat: jungle temple cheese command
  src/lib/chatBridge/commands/general/cheese-jungle-temple.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: update networth
  package.json
  src/lib/networth/constants/enchantments.ts
  src/lib/networth/constants/inventories.ts
  src/lib/networth/constants/itemId.ts
  src/lib/networth/constants/modifiers.ts
  src/lib/networth/functions/enchantments.ts
  src/lib/networth/networth.ts
  src/lib/structures/ImgurClient.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

fix: typo
  src/lib/networth/functions/enchantments.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

refactor: deps
  package.json
  src/scripts/generateEmojiParser.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

deps: patch
  .yarn/patches/@discordjs-rest-npm-2.4.0-dev.1717978255-c5d40d380-954f53f5c3.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

feat: parseArgs allowNegative
  src/lib/chatBridge/HypixelMessage.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: cleanup scripts
  scripts/update.sh
Due: prettier --cache --ignore-unknown --write

types: readonly arrays
  src/lib/functions/array.ts
  src/lib/functions/skyblock.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  .yarn/patches/discord.js-npm-14.16.0-dev.1721607097-b2970bb2d-de2b537737.patch
  package.json
  src/commands/guild/donations.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json
