Repository muchnameless/lunar-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

chore: yarn-plugin-nolyfill
  .yarn/plugins/@yarnpkg/plugin-nolyfill.cjs
  .yarnrc.yml
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: nolyfill
  package.json
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/discord.js-npm-14.16.0-dev.1722989457-5c90b7f71-57a697fc42.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: scripts
  lunar-bot.service
  scripts/automerge_dependency_prs.sh
  scripts/bot.sh
  scripts/log.sh
  scripts/post_start.sh
  scripts/pre_start.sh
  scripts/rebase_prs.sh
  scripts/regen_lockfile.sh
  scripts/update.sh
Due: prettier --cache --ignore-unknown --write

chore: scripts
  scripts/automerge_dependency_prs.sh
  scripts/bot.sh
  scripts/post_start.sh
  scripts/pre_start.sh
  scripts/rebase_prs.sh
  scripts/regen_lockfile.sh
  scripts/update.sh
Due: prettier --cache --ignore-unknown --write

chore: deps
  .github/renovate.json
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

fix: lint
  src/lib/chatBridge/MinecraftBot.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: sort-package-json
  package.json
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/discord.js-npm-14.16.2-dev.1725322267-a11ff7563-9cde22a807.patch
  package.json
  src/lib/structures/LogHandler.ts
  src/lib/structures/database/managers/DatabaseManager.ts
  src/lib/util/ChannelUtil.ts
  src/lib/util/InteractionUtil.ts
  src/lib/util/MessageUtil.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/@sapphire-async-queue-npm-1.5.4-next.63feeab8-f0e4cc4f76.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

refactor: discord api
  src/commands/staff/unnick.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: discord.js
  src/lib/structures/LogHandler.ts
  src/lib/structures/database/managers/DatabaseManager.ts
  src/lib/util/ChannelUtil.ts
  src/lib/util/InteractionUtil.ts
  src/lib/util/MessageUtil.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: discord api
  src/lib/util/InteractionUtil.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

types: ts
  src/lib/chatBridge/caches/OtherBotInteractionCache.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: limbo
  src/lib/chatBridge/managers/MinecraftChatManager.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: lint
  src/lib/chatBridge/managers/MinecraftChatManager.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  .yarn/patches/discord.js-npm-14.17.0-dev.1727655153-9aa3b635e-ef334c12d4.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore(deps): nolyfill
  .yarn/plugins/@yarnpkg/plugin-nolyfill.cjs
  .yarnrc.yml
  yarn.lock
Due: prettier --cache --ignore-unknown --write

feat: suppress embeds for blocked messages
  src/lib/chatBridge/events/message.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: blocked expressions
  src/lib/chatBridge/constants/blockedExpressions.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

fix
  src/lib/setup.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --cache --ignore-unknown --write: any of: *
  sort-package-json: any of: package.json
