Repository muchnameless/lunar-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

chore: reorder
  .husky/pre-commit
Due: prettier --cache --ignore-unknown --write

chore(deps): patch
  .yarn/patches/@discordjs-rest-npm-1.8.0-dev.1689552764-351a18b.0-dcff95bb96.patch
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore(deps): patch
  src/events/REST/rateLimited.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/@discordjs-rest-npm-1.7.2-dev.1689600762-afa9879.0-c961a2933d.patch
  .yarn/patches/@discordjs-rest-npm-1.8.0-dev.1689552764-351a18b.0-dcff95bb96.patch
  .yarn/patches/@discordjs-ws-npm-0.8.1-dev.1681214696-dcf58d8.0-c6870d6827.patch
  .yarn/patches/@discordjs-ws-npm-0.8.4-dev.1689600801-afa9879.0-c1b0cdae6d.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/discord.js-npm-14.11.1-dev.1689600799-afa9879.0-efd45e2279.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: types
  src/lib/chatBridge/managers/MinecraftChatManager.ts
  src/lib/types/nodejs.d.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  .yarn/patches/@discordjs-rest-npm-1.7.2-dev.1689600762-afa9879.0-c961a2933d.patch
  .yarn/patches/@discordjs-rest-npm-2.0.0-dev.1690286676-8f4256d.0-25f578f63e.patch
  .yarn/patches/@discordjs-ws-npm-1.0.0-dev.1690286666-8f4256d.0-f7e6898fb6.patch
  .yarn/patches/discord.js-npm-15.0.0-dev.1690286667-8f4256d.0-042826c32b.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .yarn/patches/@discordjs-rest-npm-2.0.0-dev.1690286676-8f4256d.0-25f578f63e.patch
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: deps
  yarn.lock
Due: prettier --cache --ignore-unknown --write

refactor: tag, limits, etc
  scripts/update.sh
  src/commands/tax/tax.ts
  src/lib/chatBridge/managers/DiscordManager.ts
  src/lib/chatBridge/managers/MinecraftChatManager.ts
  src/lib/functions/stringValidators.ts
  src/lib/structures/database/models/HypixelGuild.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(deps): djs
  .gitignore
  .vscode/settings.json
  .yarn/patches/@discordjs-rest-npm-2.0.1-dev.1691841835-9ed1b59df.0-8f243e1aa4.patch
  .yarn/patches/@discordjs-ws-npm-1.0.1-dev.1691841838-9ed1b59df.0-f46077b0aa.patch
  .yarn/patches/discord.js-npm-14.13.0-dev.1691841828-9ed1b59df.0-5205132e1c.patch
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

Revert "chore(deps): update dependency js-big-decimal to v2 (#2829)"
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

Revert "chore(deps): update dependency js-big-decimal to v2" (#2867)
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: typos ignore package.json
  .typos.toml
Due: prettier --cache --ignore-unknown --write

fix: reply type
  src/commands/skyblock/~base-weight.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: simplify
  src/commands/skyblock/~base-weight.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: .env
  package.json
Due: prettier --cache --ignore-unknown --write, sort-package-json

refactor: .env
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: pnpm
  .github/actions/pnpm-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/renovate.json
  .github/workflows/cleanup-pnpm-cache.yml
  .github/workflows/test.yml
  .github/workflows/unicode-emojis.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .yarn/patches/@discordjs-rest-npm-2.0.1-dev.1691841835-9ed1b59df.0-8f243e1aa4.patch
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  package.json
  patches/@discordjs__rest@2.1.0-dev.1693864011-97e5cd073.0.patch
  patches/@discordjs__ws@1.0.2-dev.1693863545-97e5cd073.0.patch
  patches/@sapphire__async-queue@1.5.1-next.e57a4fdd.0.patch
  patches/discord.js@14.14.0-dev.1693863865-97e5cd073.0.patch
  patches/minecraft-protocol@1.44.0.patch
  pnpm-lock.yaml
  scripts/patch.sh
  scripts/pre_start.sh
  scripts/regen_lockfile.sh
  scripts/update.sh
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: pnpm (#2956)
  .github/actions/pnpm-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/renovate.json
  .github/workflows/cleanup-pnpm-cache.yml
  .github/workflows/test.yml
  .github/workflows/unicode-emojis.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .yarn/patches/@discordjs-rest-npm-2.0.1-dev.1691841835-9ed1b59df.0-8f243e1aa4.patch
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  package.json
  patches/@discordjs__rest@2.1.0-dev.1693864011-97e5cd073.0.patch
  patches/@discordjs__ws@1.0.2-dev.1693863545-97e5cd073.0.patch
  patches/@sapphire__async-queue@1.5.1-next.e57a4fdd.0.patch
  patches/discord.js@14.14.0-dev.1693863865-97e5cd073.0.patch
  patches/minecraft-protocol@1.44.0.patch
  pnpm-lock.yaml
  scripts/patch.sh
  scripts/pre_start.sh
  scripts/regen_lockfile.sh
  scripts/update.sh
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  .github/renovate.json
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: deps
  package.json
Due: prettier --cache --ignore-unknown --write, sort-package-json

chore: renovate
  .github/renovate.json
Due: prettier --cache --ignore-unknown --write

chore: pnpm
  .prettierignore
  README.md
Due: prettier --cache --ignore-unknown --write

chore: workflows
  .github/actions/pnpm-install/action.yml
  .github/workflows/test.yml
  .github/workflows/unicode-emojis.yml
Due: prettier --cache --ignore-unknown --write

chore: ci
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, sort-package-json

refactor: v3
  src/jobs/pricesAndPatchNotes.ts
  src/lib/structures/database/managers/DatabaseManager.ts
  src/lib/structures/database/managers/HypixelGuildManager.ts
  src/lib/structures/database/managers/PlayerManager.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  .github/renovate.json
  package.json
  patches/discord.js@14.14.0-dev.1696982935-7276e7c4b.patch
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write, sort-package-json

feat: hypixel api v2, yarn
  .github/actions/pnpm-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/renovate.json
  .github/workflows/cleanup-yarn-cache.yml
  .github/workflows/test.yml
  .github/workflows/unicode-emojis.yml
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .python-version
  .yarn/patches/@discordjs-rest-npm-2.2.1-dev.1703462991-0f1e02b3d-1c6c1c4070.patch
  .yarn/patches/@discordjs-ws-npm-1.1.0-dev.1703462984-0f1e02b3d-a81f5fca0c.patch
  .yarn/patches/@sapphire-async-queue-npm-1.5.2-next.e1c7c753.0-04e7dd41da.patch
  .yarn/patches/discord.js-npm-14.15.0-dev.1703462984-0f1e02b3d-295691962d.patch
  .yarn/patches/minecraft-protocol-npm-1.44.0-5f1ada9362.patch
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  README.md
  package.json
  patches/@discordjs__rest@2.1.0-dev.1693864011-97e5cd073.0.patch
  pnpm-lock.yaml
  scripts/patch.sh
  scripts/pre_start.sh
  scripts/regen_lockfile.sh
  scripts/update.sh
  src/commands/owner/eval.ts
  src/commands/skyblock/skills.ts
  src/commands/skyblock/slayers.ts
  src/lib/chatBridge/managers/MinecraftChatManager.ts
  src/lib/constants/weight.ts
  src/lib/functions/lilyWeight.ts
  src/lib/functions/senitherWeight.ts
  src/lib/networth/constants/inventories.ts
  src/lib/networth/networth.ts
  src/lib/structures/database/managers/DatabaseManager.ts
  src/lib/structures/database/managers/HypixelGuildManager.ts
  src/lib/structures/database/managers/PlayerManager.ts
  src/lib/structures/database/models/Player.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

fix: lint 2
  src/commands/owner/eval.ts
  src/commands/skyblock/skills.ts
  src/commands/skyblock/slayers.ts
  src/lib/chatBridge/managers/MinecraftChatManager.ts
  src/lib/networth/networth.ts
  src/lib/structures/database/managers/DatabaseManager.ts
  src/lib/structures/database/managers/HypixelGuildManager.ts
  src/lib/structures/database/managers/PlayerManager.ts
  src/lib/structures/database/models/Player.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: yarn v4
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

fix: skill api
  .yarn/patches/discord.js-npm-14.15.0-dev.1703462984-0f1e02b3d-295691962d.patch
  package.json
  src/commands/skyblock/skills.ts
  src/lib/functions/lilyWeight.ts
  src/lib/functions/senitherWeight.ts
  src/lib/functions/skyblock.ts
  src/lib/structures/database/models/Player.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

fix: lint 3
  package.json
  src/commands/skyblock/skills.ts
  src/lib/structures/database/models/Player.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write, sort-package-json

feat: networth
  src/jobs/pricesAndPatchNotes.ts
  src/lib/networth/constants/enchantments.ts
  src/lib/networth/constants/itemId.ts
  src/lib/networth/constants/itemRarity.ts
  src/lib/networth/constants/modifiers.ts
  src/lib/networth/functions/enchantments.ts
  src/lib/networth/networth.ts
  src/lib/networth/prices.ts
Due: eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: deps
  .github/actions/delete-actions-cache/action.yml
  package.json
  scripts/regen_lockfile.sh
  yarn.lock
Due: prettier --cache --ignore-unknown --write, sort-package-json

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --cache --ignore-unknown --write: any of: *
  sort-package-json: any of: package.json
